[submodule "drucker_client"]
	path = drucker_client
	url = https://github.com/drucker/drucker-client.git
	branch = v0.3.4
[submodule "drucker_dashboard"]
	path = drucker_dashboard
	url = https://github.com/drucker/drucker-dashboard.git
	branch = v0.3.4
[submodule "drucker"]
	path = drucker
	url = https://github.com/drucker/drucker.git
	branch = v0.3.4
[submodule "drucker-grpc-proto"]
	path = drucker-grpc-proto
	url = https://github.com/drucker/drucker-grpc-proto.git
	branch = v0.3.4
[submodule "dockerfiles"]
	path = dockerfiles
	url = https://github.com/drucker/dockerfiles.git
	branch = v0.2.1
[submodule "externals/fluentd-kubernetes-daemonset"]
	path = externals/fluentd-kubernetes-daemonset
	url = https://github.com/fluent/fluentd-kubernetes-daemonset.git
[submodule "externals/nghttpx-ingress-lb"]
	path = externals/nghttpx-ingress-lb
	url = https://github.com/zlabjp/nghttpx-ingress-lb.git
